.a{
    margin: auto;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: space-evenly;
}
img{
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
}
h1{
    color: red;
}
h2{
    color: blue;
}
h3{
    color: deeppink;
}
.home{
    margin-left: 95%;
    color: red;
}
.back{
    margin-left: 95%;
}
html{
    background-attachment: fixed;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.8trvpBHSySTdXbYl_F1c-gHaEK&pid=Api&P=0&h=180);
    background-size: 100%;
}