.a{
    margin: auto;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: space-evenly;
}
img{
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
}
h1{
    color: yellow;
}
html{
    background-attachment: fixed;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Fu7BrYhwu65ffIc39iQ0OOou4lmG1UOe0BA3jYxtZ0TtvFBu6eWzHuAkMPHVoge7S3I&usqp=CAU);
    background-size: 100%;
}
.home{
    margin-left: 95%;
    color: blue;
}
.back{
    margin-left: 95%;
}
h2{
    color: blue;
}