.second{
    padding:50px;
    margin:auto;
    display: flex;
    justify-content:space-evenly;
    margin-left:5%;
    margin-right:5%;
}
img{
    height:200px;
    width:200px;
    border:2px solid black;
    
}
html{
    padding-left:10%;
    padding-right: 10%;
    background-color:rgba(202, 24, 202, 0.407);
}
h1{
    color: red;
}
h2{
    color:blue;
}
.home{
    margin-left: 100%;
    margin-top: 1%;
    color: blue;
}
