.second{
    padding:50px;
    margin:auto;
    display: flex;
    justify-content:space-evenly;
    margin-left:5%;
    margin-right:5%;
}
img{
    height:200px;
    width:200px;
    border:2px solid black;
    border-radius: 50px 50px 50px 50px;
}
html{
    padding-left:10%;
    padding-right: 10%;
    background-attachment: fixed;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUztzzws8ermraZAnDPQpbImW4mRBoV8MfPQ&usqp=CAU);
    background-size: 100%;
    
}
.home{
    margin-left: 95%;
}
.back{
    margin-left: 95%;
}
h2{
    color: red;
}
h1{
    color: blue;
}